<nav>
    <ul>
        <li><a href="addPage.html">Add Page</a></li>
        <li><a href="editPages.html">Edit Pages</a></li>
        <li id="logout"><a href="logout.html">Logout</a></li>
    </ul>
</nav>
