<nav>
    <ul>
        <li><a href="/addPage">Add Page</a></li>
        <li><a href="/editPages">Edit Pages</a></li>
        <li id="logout"><a href="/logout">Logout</a></li>
        <div>
            <li style="float: right;">Welcome Admin!</li>
        </div>

    </ul>
</nav>
