<nav>
    <ul>
        <%pages.forEach(function(page){%>
        <li><a href="<%=page._id%>"><%= page.pagetitle %></a></li>
        <%})%>
        <div>
            <li><a href="/login"><span style="float:right; text-decoration: underline; font-size: small;">Admin Login</span></a></li>
        </div>
    </ul>
</nav>
