<%- include('layouts/head.ejs'); -%>
    <body>
        <div id="container">

        <%- include('layouts/header.ejs'); -%>

        <%- include('layouts/adminNav.ejs'); -%>
        <main>
            <div class="message">
            <h2>Add New Page</h2> <br /> <br />

            <p>You have successfully created a new page!</p>

            </div>
            
        </main>
        <%- include('layouts/footer.ejs'); -%>
    </div>  
</body>
</html>