<%- include('layouts/head.ejs'); -%>
    <body>
        <%- include('layouts/header.ejs'); -%>
        <div id="container">

        <%- include('layouts/adminNav.ejs'); -%>
        <main>
            <section class="addPage">
                <h2>Add Page</h2>
                <div class="pageHead">
                    <label for="pagetitle">Page Title</label>
                    <input type="text" name="pagetitle" id="pagetitle">
                </div>
                <div class="heroImage">
                    <label for="pageImg">Hero Image</label>
                    <input type="text" name="pageImg" id="pageImg">
                    <button id="browse">Browse...</button>
                </div>
                <div>
                    <textarea name="pageContent" id="" cols="60" rows="25"></textarea>
                </div>
                <div>
                    <button id="submit">Submit</button>
                </div>
                </section>
            
        </main>
        <%- include('layouts/footer.ejs'); -%>
    </div>  
</body>
</html>