<%- include('layouts/head.ejs'); -%>
    <body>
        <div id="container">

        <%- include('layouts/header.ejs'); -%>

        <%- include('layouts/adminNav.ejs'); -%>
        <main>
            <section class="editPages">
                <h2>Edit Pages</h2>
                <table>
                    <tr>
                        <td>Page</td>
                        <td>Manage</td>
                        <td>Delete</td>
                    </tr>
                </table>
                
                </section>
            
        </main>
        <%- include('layouts/footer.ejs'); -%>
    </div>  
</body>
</html>