<%- include('layouts/head.ejs'); -%>
    <body>
        <%- include('layouts/header.ejs'); -%>
        <div id="container">

        <%- include('layouts/nav.ejs'); -%>
        <main>
            <div class="login">
                <h2>Login</h2>
                <div class="loginDetail">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="loginDetail">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password">
                </div>
                <div> <button id="submit">Submit</button>
                </div>
            </div>
        </main>
        <%- include('layouts/footer.ejs'); -%>
    </div>  
</body>
</html>