<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <header>
            <a href="index.html">
                <img id="logoImg" src="Images/logo/logo.png" alt="Logo">
            </a>
            <div class="title">
                <h1>Page Title</h1>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Contact</a></li> 
            </ul>
        </nav>
        <main>
            <div class="login">
                <h2>Login</h2>
                <div class="loginDetail">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="loginDetail">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password">
                </div>
                <div>                <button id="submit">Submit</button>
                </div>
            </div>
        </main>
        <footer>
            <div>&copy; Copyright 2020. Conestoga College.</div>
        </footer>  
    </div>  
</body>
</html>