<%- include('layouts/head.ejs'); -%>
    <body>
        <div id="container">

        <%- include('layouts/header.ejs'); -%>

        <%- include('layouts/nav.ejs'); -%>
        <main>
            <div class="message">
            <h2>Logout</h2> <br /> <br />

            <p>You have successfully logged out!</p>

            </div>
            
        </main>
        <%- include('layouts/footer.ejs'); -%>
    </div>  
</body>
</html>